.chart {
    padding: 1rem;
    background-color: #f8dfff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 10px 40px 0 #a892ee, inset 0px -10px 17px 2px #a892ee;
    margin-bottom: 1rem;
  }