.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgba(174, 0, 255, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 10px 60px 0 #a892ee, inset 0px -10px 17px 2px #a892ee;
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    height: 4.8rem;
    background: linear-gradient(to right, rgb(64,0,93) 0%,rgba(255,255,255,0) 69%);
  }
  
  .expense-item h2 {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .expense-item__price {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(64,0,93,0.9);
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 16px;
    width: 4rem;
  }
  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }

  @keyframes animation {
    0% {
      opacity: 0;
      transform: translate(-50%);
    }
    100% {
      opacity: 1;
      transform: translate(0%);
    }
  }